.Opportunities-job-card {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 18px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  cursor: pointer;
  text-decoration: none;
}

.Opportunities-job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Opportunities-job-title {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  text-align: left;
  color: #032240;
}

.Opportunities-job-company {
  font-size: 16px;
  color: #83858B;
  text-align: left;
}

.Opportunities-job-logo {
  width: 60px;
  height: 60px;
  border-radius: 1px;
  object-fit: contain;
}

.Opportunities-job-logo-placeholder {
  width: 60px;
  height: 60px;
  font-size: 20px;
  border: 1px solid #1E88E5;
  border-radius: 5px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #1E88E5;
}

.Opportunities-job-details {
  text-align: left;
  margin: 1px 0;
  font-size: 14px;
  color: #83858B;
}

.card-icons {
  height: 16px;
  margin-right: 7px;
}

.Opportunities-detail-line {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.Opportunities-divider {
  margin: 0 10px;
  font-size: 20px;
  font-weight: 600;
  color: #EDEDED;
}

.Opportunities-job-tags {
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
}

.Opportunities-job-tag {
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 2px 8px;
  border-radius: 6px;
}

.Opportunities-job-tag.full-time {
  border-color: #1E88E5;
  color: #1E88E5;
}

.Opportunities-job-tag.internship {
  border-color: #f7931a;
  color: #f7931a;
}

.Opportunities-job-meta {
  font-size: 15px;
  color: #83858B;
  margin-bottom: 8px;
}

.Opportunities-job-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.Opportunities-save-btn {
  border: 1px solid #1E88E5;
  background: white;
  color: #1E88E5;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.Opportunities-apply-btn {
  background: #1E88E5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.Opportunities-separator {
  border: none;
  border-top: 2px solid #EDEDED;
  margin: 10px 0;
}

.Opportunities-job-type {
  font-size: 17px;
  font-weight: 600;
  color: #1E88E5;
  text-decoration: none;
  margin-bottom: 10px;
}

.Opportunities-details-bottom {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top: 10px;
}

.Opportunities-job-footer {
  padding-top: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #83858B;
}